.main-box {
   
    width: 1200px;
    height: 1000px;
    background-color: rgb(238, 203, 170);



}
.container {
    width: 90%;
    height: 90%;
    background-color: rgb(146, 133, 108);
}

.box {
    display: flex;

    text-shadow: 4px 5px 10px black ;
}
body {
    background: rgb(209, 209, 209);
}
img {
    height: 20%;
    width: 20%;
}